<!DOCTYPE html>

<html>
    <head>
        <title>Kindle parser not found</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.CSS" />
        </head>

    <body>
    <h1>404 Not found</h1>
        <p>This adress doesn't lead anywhere, my friends</p>
    </body>
</html>
