<!DOCTYPE HTML>

<html>
    <head>
        <title>Kindle parser</title>
        <!-- <link rel="stylesheet" type="text/css" href="stylesheet.CSS"> -->
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
        </head>

    <body>
        <div></div>
        <h1>Your file is uploaded </h1>

        <form action="/parsed" method="post" >
            <p>
                <input type="submit" value="parse your file" />
            </p>
        </form>
    </body>
</html>
